@use './components/logo/Logo.scss';
@use './components/userInfo/UserInfo.scss';
@use './client/ClientStyles.scss';
@use './merchant/MerchantStyles.scss';
@use './driver/DriverStyles.scss';
@use './components/navButton/NavButton.scss';
@use './components/container/Container.scss';

.link {
    text-decoration: none;
    color: rgb(252, 79, 56);

    &:focus,
    &:hover,
    &:visited,
    &:link,
    &:active {
        text-decoration: none;
    }
}

.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: auto;
}