.home-page {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    height: 100%;
    overflow: auto;

    .list {
        flex-basis: 30%;
        padding: 0 20px;
        height: 100%;
        overflow: auto;

        .store {
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;
            border-radius: 10px;
            padding: 5px;
            border: 3px solid rgb(252, 79, 56);
        }
    }

    .map-container {
        flex: 1;
        height: 100%;
    }

    .map {
        height: 100%;
    }
}