.nav-button {
    margin-left: 10px;
    padding: 5px 15px;
    background-color: white;
    border-bottom-color: rgb(175, 175, 175);
    font-weight: 600;
    border-radius: 5px;
    color: rgb(252, 79, 56);

    &:focus,
    &:hover,
    &:visited,
    &:link,
    &:active {
        background-color: rgb(184, 84, 54);
        color: white;

        .link {
            color: white
        }
    }
}