.store-item {
    flex-basis: 50%;
    margin-bottom: 20px;
    padding: 20px;

    .image {
        background-size: cover;
        height: 250px;
    }

    .content {
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 3px solid rgb(252, 79, 56);
        border-radius: 0 0 5px 5px;
        border-top: none;
    }
}